set_io clock P7
set_io reset P8
set_io io_led E1
set_io io_stateButton H12
set_io io_shiftButton J12
set_io io_leds[0]  G14
set_io io_leds[1]  F14
set_io io_leds[2]  E12
set_io io_leds[3]  E14
set_io io_leds[4]  D14
set_io io_leds[5]  C14
set_io io_leds[6]  B14
set_io io_leds[7]  A12
set_io io_leds[8]  C10
set_io io_leds[9]  C9
set_io io_leds[10] A11
set_io io_leds[11] A10
set_io io_leds[12] A7
set_io io_leds[13] A6
set_io io_leds[14] A4
set_io io_leds[15] A3
set_io io_leds[16] A2
set_io io_leds[17] A1
set_io io_leds[18] C3
set_io io_leds[19] D3
set_io io_leds[20] B1
set_io io_leds[21] C1
set_io io_leds[22] D1
set_io io_leds[23] E1

